.section__nav {
    height: 50px;
    background-color: #31363c;
}

.section__nav-item {
    display: inline-block;

    &:hover {
        background-color: #202326;
    }
}

.section__nav-link {
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;

    padding: 19px 16px;
}