.section__shout {
    margin: 0 50px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;

    display: flex;
    justify-content: center;
}

.section__shout-content {
    color: #7f7d77;
    font-size: 22px;
    font-style: italic;
    line-height: 33px;

    max-width: 715px;

    text-align: center;
    padding: 30px 0;
}