<div class="topbar" id="topbar">

    <div class="topbar__flex-container">

        <div class="topbar__social">
            <ul class="topbar__social-list">
                <li class="topbar__social-item">
                    <a class="linkedin" href="#"><img src="assets/img/linkedin.png" alt=""></a>
                </li>
                <li class="topbar__social-item">
                    <a class="twitter" href="#"><img src="assets/img/twitter.png" alt=""></a>
                </li>
                <li class="topbar__social-item">
                    <a class="pinterest" href="#"><img src="assets/img/pinterest.png" alt=""></a>
                </li>
                <li class="topbar__social-item">
                    <a class="google" href="#"><img src="assets/img/google.png" alt=""></a>
                </li>
                <li class="topbar__social-item">
                    <a class="rss" href="#"><img src="assets/img/rss.png" alt=""></a>
                </li>
            </ul>
        </div>

        <div class="topbar__menu">
            <ul class="topbar__menu-list">
                <li class="topbar__menu-item">
                    <a class="topbar__menu-link" href="#">A - Z Index</a>
                </li>
                <li class="topbar__menu-item">
                    <a class="topbar__menu-link" href="#">Staff Login</a>
                </li>
                <li class="topbar__menu-item">
                    <a class="topbar__menu-link" href="#">Student Login</a>
                </li>
            </ul>
        </div>

    </div>

    <a href="#" class="topbar__cover" id="topbar__cover">
        <div class="topbar__cover-inner">

        </div>
    </a>

</div>


<header class="header">
    <div class="header__content">
        <div class="header__title">
            <span class="title__span">T</span>IME 4 <span class="title__span">S</span>CHOOL
        </div>

        <div class="header__input">
            <input class="header__input-text" type="text" placeholder="Search Our Website...">
            <button class="header__input-submit" type="submit">SUBMIT</button>
        </div>
</header>